<h2 id="before-you-begin">Bevor Sie beginnen</h2>
<p>Melden Sie sich bei <a href="https://cs50.dev/" target="_blank">cs50.dev</a> an, klicken Sie
  auf Ihr Terminal und führen Sie <code
  class="text-danger border border-dark">cd</code> ohne Parameter aus. Sie
  sollten feststellen, dass der Prompt Ihres Terminals wie unten aussieht:</p>
<div class="alert alert-primary"><code
  class="text-dark font-weight-bold">$</code></div>
<p>Als nächstes führen Sie</p>

{% set command="mkdir " + foldername %}
{% include "command_box_with_cp.html" %}

<p>aus, um einen Ordner namens <code
  class="text-danger border border-dark">{{ foldername }}</code> in Ihrem Codespace
  zu erstellen.</p>
<p>Führen Sie anschließend</p>

{% set command="cd " + foldername %}
{% include "command_box_with_cp.html" %}

<p>aus, um in dieses Verzeichnis zu wechseln. Der Prompt Ihres Terminals sollte
  nun <code class="text-danger border border-dark">{{ foldername }}/$</code> anzeigen.
  Jetzt können Sie</p>