{% include "header.html" %}

<p>Diese Aufgabe dient zur Überprüfung Ihrer Anmeldung zum <strong>GIT_SoSe2026</strong> Kurs.
  Nach erfolgreicher Anmeldung und Ausführung der folgenden Schritte 
  wird im Moodle-Kurs der Status „bestanden" angezeigt. 
  <strong>Beachten Sie, dass die Bewertung in Moodle manuell nach Ablauf der Abgabefrist erfolgt.</strong></p>

{% include "before_you_begin_start.html" %}

{% set command="wget https://raw.githubusercontent.com/HSDDigitalLabor/problems/refs/heads/git2025/cs50_subscription/files/cs50_subscription.py" %}
{% include "command_box_with_cp.html" %}

<p>ausführen, um eine Datei namens <code
  class="text-danger">{{ filename }}</code> herunterzuladen, die Sie anschließend zu Testzwecken Abgeben</p>
</p>

{% include "how_to_submit.html" %}

{% include "footer.html" %}
