{% include "header.html" %}

<p>
  In dieser Übung implementieren Sie die Funktion <code>bubble_sort(lst)</code>,
  die eine Liste von Zahlen mit dem <strong>Bubble-Sort</strong>-Algorithmus sortiert.
  Bubble Sort vergleicht benachbarte Elemente und vertauscht sie, wenn sie in der falschen Reihenfolge sind.
  Dies wiederholt sich so lange, bis die gesamte Liste sortiert ist.
</p>

<p>
  Die Funktion sollte wie folgt aussehen:
<pre><code>def bubble_sort(lst):
    ...
</code></pre>
Die Funktion nimmt eine Liste <code>lst</code> als Parameter und gibt die
sortierte Liste zurück. Sie sollen keine eingebauten Sortierfunktionen
wie <code>sorted()</code> oder <code>list.sort()</code> verwenden.
</p>

<details>
  <summary>Hinweise</summary>
  <ul>
    <li>
      Sie können die Liste mit zwei verschachtelten <code>for</code>-Schleifen durchlaufen.
      Vergleichen Sie jeweils zwei benachbarte Elemente <code>lst[j]</code> und <code>lst[j + 1]</code>
      und vertauschen Sie sie, falls sie in der falschen Reihenfolge stehen.
    </li>
    <li>
      Nach jedem vollständigen Durchlauf wird das größte Element „nach oben gebubbelt“.
      Sie können daher in der inneren Schleife bei jedem Durchlauf ein Element weniger prüfen.
    </li>
    <li>
      Sie können eine Variable <code>swapped</code> verwenden, um festzustellen, ob in einem Durchlauf
      Vertauschungen vorgenommen wurden. Wenn keine Vertauschungen stattgefunden haben,
      ist die Liste bereits sortiert und Sie können abbrechen.
    </li>
  </ul>
</details>

{% include "demo.html" %}

{% include "before_you_begin.html" %}

{% include "how_to_test_head.html" %}
<ul>
  <li>
    Importieren Sie Ihre Funktion in Python:
    <pre><code>from bubble import bubble_sort</code></pre>
    Testen Sie die Funktion mit einer kleinen Liste, z. B.:
    <pre><code>print(bubble_sort([3, 2, 1]))  # sollte [1, 2, 3] ausgeben</code></pre>
  </li>
  <li>
    Testen Sie eine bereits sortierte Liste:
    <pre><code>print(bubble_sort([1, 2, 3]))  # sollte [1, 2, 3] ausgeben</code></pre>
  </li>
  <li>
    Testen Sie eine Liste mit doppelten Werten:
    <pre><code>print(bubble_sort([3, 1, 3, 2]))  # sollte [1, 2, 3, 3] ausgeben</code></pre>
  </li>
</ul>

{% include "how_to_test_auto.html" %}

{% include "how_to_submit.html" %}

{% include "how_to_mark_in_moodle.html" %}

{% include "footer.html" %}