{% include "header.html" %}

<p>
  In dieser Übung implementieren Sie die Funktion <code>bogo_sort(lst)</code>, die
  eine Liste von Zahlen mittels Bogosort sortiert. Bogosort funktioniert, indem die
  Liste so lange zufällig gemischt wird, bis sie vollständig sortiert ist.
</p>

<p>
  Die Funktion sollte wie folgt aussehen:
<pre><code>def bogo_sort(lst):
    ...
</code></pre>
Die Funktion nimmt eine Liste <code>lst</code> als Parameter und gibt die
sortierte Liste zurück. Sie sollen keine eingebauten Sortierfunktionen
wie <code>sorted()</code> oder <code>list.sort()</code> verwenden.
</p>

<details>
  <summary>Hinweise</summary>
  <ul>
    <li>
      Um die Liste zufällig zu mischen können Sie folgende Funktion verwenden <a
        href="https://docs.python.org/3/library/random.html#random.shuffle" target="_blank">
        https://docs.python.org/3/library/random.html#random.shuffle
      </a>.
    </li>
    <li>
      Implementieren Sie zuerst eine Hilfsfunktion <code>is_sorted(lst)</code>,
      die prüft, ob die Liste bereits sortiert ist:
      <pre><code>def is_sorted(lst):</code></pre>
      Verwenden Sie diese Funktion in Ihrem <code>bogo_sort</code>-Algorithmus.
    </li>
    <li>
      Bogosort ist sehr ineffizient. Verwenden Sie daher in Tests nur kurze Listen,
      z.B. 3-5 Elemente, um endlose Schleifen zu vermeiden.
    </li>
  </ul>
</details>

{% include "demo.html" %}

{% include "before_you_begin.html" %}

{% include "how_to_test_head.html" %}
<ul>
  <li>
    Importieren Sie Ihre Funktion in Python:
    <pre><code>from bogo import bogo_sort</code></pre>
    Testen Sie die Funktion mit einer kleinen Liste, z. B.:
    <pre><code>print(bogo_sort([3, 2, 1]))  # sollte [1, 2, 3] ausgeben</code></pre>
  </li>
  <li>
    Testen Sie eine bereits sortierte Liste:
    <pre><code>print(bogo_sort([1, 2, 3]))  # sollte [1, 2, 3] ausgeben</code></pre>
  </li>
  <li>
    Testen Sie eine Liste mit doppelten Werten:
    <pre><code>print(bogo_sort([3, 1, 3, 2]))  # sollte [1, 2, 3, 3] ausgeben</code></pre>
  </li>
</ul>

{% include "how_to_test_auto.html" %}

{% include "how_to_submit.html" %}

{% include "how_to_mark_in_moodle.html" %}

{% include "footer.html" %}